.slide_total_container{
    width: 100%;
    max-width: 1000px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main-w-color-02);

}

.slide_title_k{
    color: var(--main-point-color-02);
    font-size: 20px;
    font-weight: 900;
}

.my-slide {
    width: 700px;
    height:100%;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: var(--main-point-color-02);
  }
  
  .swiper-pagination-bullet {
    background: var(--main-point-color-02);
  }

.my-content {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--main-w-color-02);
    border-radius: 8px;
}

.slide_icon{
    width: 60%;
    aspect-ratio: 1;
}

.slide-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 8px;
}

.contents-wrapper {
    height: 100%;
    width: fit-content;
    display: flex;
    transform: translateX(0);
    transition: 1s;
}

.auto-slide-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}


.slider-interface {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
}

/* .slider-interface > button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #aaa;
    border: none;
    cursor: pointer;
} */

/* .prev {
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
} */

/* .next {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
} */

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}

.slide-button {
    width: 8px;
    height: 8px;
    background-color: var(--main-point-color-01);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--main-g-color-03);
}

.slide-button.active {
    background-color: var(--main-point-color-02);
}