.slide_total_container {
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Arial', sans-serif;
}

.my-slide {
    display: flex;
    transition: transform 0.3s ease;
    cursor: grab;
    width: calc(100% * 5 / 2); /* 슬라이드 전체 너비 설정 */
}

.my-content {
    flex: 0 0 calc(100% / 2); /* 한 번에 두 개의 슬라이드가 보이도록 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}


.slide_icon {
    max-width: 80px;
    margin-bottom: 10px;
}

.slide_icon_text {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.slide_title_k {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
}

.slide_counter {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.my-slide:active {
    cursor: grabbing;
}

