#scroll {
    background-image: url(./project_img/bgi_sub3.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-size: cover;
    background-position: 0% 80%;
    padding: 100px 32px 100px 32px;
}


.scroll_left_container {
    flex-basis: 25%;
    position: -webkit-sticky;
    position: sticky;
    top: 150px; /* 스크롤 시작 위치를 조정하여 상단 여백 유지 */
    height: calc(100vh - 100px); /* 위아래 마진을 제외한 높이 계산 */
    margin-left: 150px;
}

.fixed_text_content {
    padding: 20px;
    font-size: 32px;
    cursor: pointer;
    font-weight: 900;
    color: var(--main-point-color-01);
}

.scroll_right_container {
    flex-basis: 80%;
    height: calc(100vh - 100px); /* 위아래 마진을 제외한 높이 계산 */
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll_right_container::-webkit-scrollbar {
    display: none;
}



.scroll_content {
    opacity: 0;
    transition: opacity 0.5s ease;
    display: none;
    text-align: center;
    margin-bottom: 150px; /* 하단 마진 추가 */
    
}

.content_punto>.punto_main_img{
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 8px;
}


.scroll_content.active {
    opacity: 1;
    display: block;
}

.scroll_img {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 8px;
}

.scroll_content_gap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.main_point{
    color: var(--main-point-color-02);
    font-size: 20px;
    font-weight: 900;
}

.scroll_point_text{
        width: 100%;
        max-width: 70%;
        height: 84px;
        background-color: var(--main-point-color-01);
        height: 100%;
        border-radius: 70px;
        padding: 15px;
        box-sizing: border-box;
}

.content_package{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.content_package>p{
    line-height: 170%;
    font-size: 18px;
    font-weight: 500;
    color: var(--main-g-color-01);
}

.content_package>h2{
    font-size: 28px;
    font-weight: 900;
    color: var(--main-point-color-01);
}

.content_package>.link_web_text_content{
    text-align: left;
}

.scroll_btn{
    width: 20%;
    height: 35px;
    border: 2px solid var(--main-point-color-02);
    color: var(--main-g-color-01);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll_btn:hover{
    background-color: var(--main-point-color-02);
    color: var(--main-point-color-01);
}



@media (max-width: 735px) {
    #scroll {
        flex-direction: column;
    }

    .scroll_left_container, .scroll_right_container {
        flex-basis: 100%;
        height: auto;
        overflow: visible;
    }
}

